/************MiniRESET**********/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/******MAIN*********/
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.container{
    text-align: center;
}
h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: capitalize;
}
span{
    font-size: 100px;
    font-weight: bold;
    padding: 40px;
}

button {
    padding: 5px 16px;
    background-color: white;
    box-shadow: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    margin: 40px 10px;
    background-color: rgb(253, 216, 171);
}
button:hover{
    background-color: black;
    color: white;
}
/******Fin Du MAIN*****/